.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}

.nav-link {
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: none;
}

.card-style {
  height: 200px;
  justify-content: space-between;
  flex-direction: column;
  border: 2px solid #ccc;
}

.cardBody-style {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}

.buttonContainer-style {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.questionDiv-style {
  width: 20%;
  min-height: 200px;
  border: 2px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.questionFormat-style {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-style {
  width: 20%;
  border: 2px solid #ccc;
}

.elem-card {
  width: 100%;
  max-width: 80px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 6px;
  text-align: center;
  font-size: 0.8em;
  box-sizing: border-box;
  margin: 0 auto 2px;
  padding: 0;
}

.elem-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 6px 8px;
}

.elem-num-mass {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.elem-num {
  font-size: 0.9em;
  margin: 0;
}

.elem-mass {
  font-size: 0.9em;
  margin: 0;
}

.elem-symbol {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 2px;
}

.elem-name {
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 4px;
}

.elem-group {
  font-size: 0.8em;
}

